@charset "UTF-8";

/* 回答はここに書いてね */
.box-main {
  display: table;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.box-main:first-child {
padding-bottom: 0;
}

.block {
  padding: 20px;
  display: table-cell;
  text-align: center;
}

.block-pink {
  background-color: #fdc8b8;
  width: 100px;
}

.block-purple {
  background-color: #e0abd9;
  display: table;
  width: 100%;
  box-sizing: border-box;
}

.block-blue {
  background-color: #b6d8ed;
  width: 100px;
}

.block-yellow {
  background-color: #e5d32e;
}

.block-red {
  background-color: #ec8f9a;
}

.block-green {
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
