@charset "UTF-8";

/* 回答はここに書いてね */

.color-box {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}

.box-indigo {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #2b69a3;
  }

  .q5 {
    background-color: #ecf1f2;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    position: relative;
  }

  .in-box {
    position: absolute;
  }

  .box-flesh-color {
    background-color: #ffefd3;
    top: 40px;
    left: 200px;
  }

  .box-blue {
    background-color: #7084de;
    top: 120px;
    left: 280px;
  }

  .box-sky-blue {
    background-color: #d0ecea;
    top: 200px;
    left: 360px;
  }

  .box-brown {
    background-color: #8b7a5e;
    top: 280px;
    left: 280px;
    z-index: 1;
  }

  .box-navy-blue {
    background-color: #9fd6d2;
    top: 360px;
    left: 200px;
    z-index: 2;
  }

  .box-light-yellow {
    background-color: #fffee4;
    top: 280px;
    left: 120px;
    z-index: 3;
  }

  .box-orange {
    background-color: #deae70;
    top: 200px;
    left: 40px;
    z-index: 4;
  }

  .box-pink {
    background-color: #de70cf;
    top: 120px;
    left: 120px;
    z-index: 5;
  }

  .box-pink:after {
    background-color: #ffefd3;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
    content: '';
  }
/* 回答はここに書いてね */
