@charset "UTF-8";

/* 回答はここに書いてね */
table.first th, td {
  border-collapse: collapse;
  border: 1px solid #dedede;
  line-height: 26px;
  table-layout: fixed;
}

table.first {
  width: 100%;
  font-size: 100%;
  text-align: center;
}

table.first th{
  padding: 10px;
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
}

table.first td{
  padding: 10px;
}

/*td:nth-child(1) {
  background-color: #2244aa;
  color: #ffffff;
  font-size: 18px;
}*/

.first tr:nth-child(odd) {
  background: #ecf1f2;
}

.first tr:last-child {
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */
