@charset "UTF-8";

/* 回答はここに書いてね */

/*.first-text {
  padding: 10px;
  background-color: #e6f2ff;
  text-align: center;
  width: 70px;
}

.q6-main {
  text-align: -webkit-center;
  margin: 0 auto;
  width: 90px;
}

.text-margin {
  margin: 0 auto;
}*/

.first-text {
  padding: 10px;
  background-color: #e6f2ff;
  width: 70px;
  text-align: center;
}

.q6-main {
  text-align: center;
}

.text-align {
  display: inline-block;
}

.text-margin {
  margin: 0 auto;
}

.second-text {
  background-color: #fff;
  align-items: center;
  padding: 10px;
}

.table-box {
  position: relative; 
}

.table-text {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 82px;
  left: 123px;
}

.q6-flex {
  position: relative;
  display: flex;
  justify-content: center;
}

.flex-text {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.q6__box+.is-stable {
  position: absolute;
}

.q6-fixation {
  position: relative; 
  top: 85px;
  left: 95px;
}
/*.q6__box__inner {
  position: relative;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}*/

.q6__box+.is-flexible {
  position: absolute;
  /*transform: translate(95px,85px);*/
}

.q6-variable {
  position: relative;
  top: 41%;
  left: 32%;
}

 
/* 回答はここに書いてね */
