@charset "UTF-8";

/* 回答はここに書いてね */

/*.first-text {
  padding: 10px;
  background-color: #e6f2ff;
  text-align: center;
  width: 70px;
}

.q6-main {
  text-align: -webkit-center;
  margin: 0 auto;
  width: 90px;
}

.text-margin {
  margin: 0 auto;
}*/

.first-text {
  padding: 10px;
  background-color: #e6f2ff;
  width: 70px;
  text-align: center;
}

.q6-main {
  text-align: center;
}

.text-align {
  display: inline-block;
}

.text-margin {
  margin: 0 auto;
}

.second-text {
  background-color: #fff;
  padding: 10px;
}

/*.table-box {
  position: relative; 
}

.table-text {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 82px;
  left: 123px;
}*/

.q6-table {
  display: table;
}

.table-box {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.table-text {
  display: inline-block;
}

.q6-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.q6__box.is-stable {
  position: relative;
}

.q6-fixation {
  position: absolute; 
  top: 0;
  right: 0;
  bottom:0;
  left: 0;
  margin: auto;
}
.q6-variable {
  position: relative;
  top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



 
/* 回答はここに書いてね */
